.reg{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    &__col{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        width: 50%;
        align-items: center;

        input{
            width: 100%;
            margin-bottom: 10px;
            height: 30px;
            text-indent: 10px;
            border: 1px solid #ccc;

            &:active, &:focus{
                box-shadow: 0 0 0.5pt 0.5pt $delete;
            transition: 0.3s all;

            border-color: transparent;
            }
        }
        .file{
            text-indent: 0;
            border: none;
            width: 80%;
        }
    }

    &__row{
        display: flex;
        width: 100%;
        span{
            margin-right: 15px;
            font-size: 14px;
        }
    }

    button{
        border: 1px solid $text;
        width: 200px;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}